@{
    Layout = "_Zone_layout";
}
<link rel="stylesheet" href="~/css/download_css/5_15_3_all.min.css" integrity="sha512-4VW+3ieixKAVmc4S6ZzRkDMNbI3S+wztdmt4H8Cd95j5plFfRL6QbYAkH3rRDOyhSo2mybDlwAl9h0kF71KYrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
    <div>
        <div class="row">
            <img src="../../dist/img/avatar.png" />
            <div>
            <h3>Htun Myat Aung</h3>
            <label>About :Backend developer</label><br />            
            <label>Email :admin@gmail.com</label><br />
            <label class="fas fa-building">Address :yangon,hledan</label><br />
            <label class="fas fa-phone">Phone :09888777555</label>
            </div>
        </div>       
        <div class="row">
            <img src="../../dist/img/avatar2.png" />
            <div>
                <h3>Kan Gyi Maung</h3>
                <label>About :Backend developer</label><br />
                <label>Email :admin@gmail.com</label><br />
                <label class="fas fa-building">Address :yangon,hledan</label><br />
                <label class="fas fa-phone">Phone :09888777555</label>
            </div>
        </div>
    </div>
</body>