@model IdentityDemo.ViewModels.ForgotPasswordViewModel 

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <label>Email:</label>
    <input type="email" name="Email" required>

    <button type="submit">Reset Password</button>
}
