@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IdentityDemo.ViewModels.UserViewModel

@if (User.Identity.IsAuthenticated)
{
    <p>Welcome, @User.Identity.Name!</p>
    <form method="post" action="/Account/Logout">
        <button type="submit">Logout</button>
    </form>

}
else
{
    <div>
        <a href="~/Account/Login">Sign In</a>
        <span> or </span>
        <a href="~/Account/Register">Register</a>
    </div>
}
