@model IEnumerable<IdentityDemo.Models.ShopModel>

@{
    Layout = "_User_layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Card Layout</title>
    <link href="~/css/download_css/5_2_3_bootstrap.min.css" rel="stylesheet" />
    <style>
        .topimagecard {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
            height:200px;
            max-width: 260px;
            max-height: 350px;
        }

        .carddesign {
            border-radius: 20px;
            width: 260px;
            overflow: hidden;
            margin: 20px;
            background-color: #D9D9D9;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-0 py-0 justify-content-center">
            @foreach(var shop in Model)
            {
               
                <label for="go-page-@shop.ShopId" class="card carddesign">
                    <img src="~/img/shop/@shop.ProfileImagePath" class="card-img-top topimagecard" alt="shop1" />
                    <div class="card-body">
                        <h5 class="card-title text-center">@shop.ShopName</h5>
                        <p class="card-text " style="margin-left:10px;">
                            @shop.ShopDescription 
                        </p>
                    </div>
                </label>
               
                <button id="go-page-@shop.ShopId" onclick="location.href='@Url.Action("SingleShopView","Hywm",new{shopId=shop.ShopId})'" class="d-none"></button>
            }
           
            
        </div>
    </div>

    <script src="~/js/download_js/5_2_3_bootstrap.bundle.min.js"></script>
</body>
</html>


