@model IdentityDemo.ViewModels.ShopViewModel
@{
    Layout = "_Owner_layout";
}

<script src="~/js/download_js/jquery-3.6.0.min.js"></script>
<script src="~/js/download_js/1_19_3_jquery.validate.min.js"></script>
<script src="~/js/download_js/3_2_12_jquery.validate.unobtrusive.min.js"></script>
<style>
    #blah {
        width: 150px;
        height: 100px;
    }
</style>
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header text-center " style="background-color:black;color:white;">
                    <h2>Shop Update</h2>
                </div>
                <div class="card-body">
                    <form asp-action="UpdateShop" asp-controller="Shop" method="post" enctype="multipart/form-data" runat="server">
                        <input type="hidden" asp-for="ShopId" />
                        <div class="d-flex align-items-center" style="margin-left: 17%;">
                            <img id="blah" class="img-thumbnail d-block" src="~/img/shop/homeimg2.jpg" alt="Preview Image" />
                        </div>
                        <!-- Image Preview Section -->
                        <div class="form-group row mb-3">
                            <label for="profileImage" class="col-sm-2 col-form-label">Profile Image</label>
                            <div class="col-sm-10">
                                <input asp-for="ProfileImage" class="form-control-file" accept="image/*" type="file" id="imgInp" name="ProfileImage" onchange="previewImage(event)" />                                
                            </div>
                        </div>

                        <!-- Form Fields -->
                        <div class="form-group">
                            <div class="mb-3 row">
                                <label asp-for="ShopName" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="ShopName" placeholder="Enter name">
                                    <span asp-validation-for="ShopName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="mb-3 row">
                                <label asp-for="ShopPhone" class="col-sm-2 col-form-label">Phone</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="ShopPhone" placeholder="Enter Phone">
                                    <span asp-validation-for="ShopPhone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="mb-3 row">
                                <label asp-for="ShopEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="ShopEmail" placeholder="Enter Email">
                                    <span asp-validation-for="ShopEmail" class="text-danger"></span>
                                </div>
                            </div>
                            
                            
                        </div>

                        <div class="form-group">
                            <div class="mb-3 row">
                                <label asp-for="ShopAddress" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="ShopAddress" placeholder="Enter address">
                                    <span asp-validation-for="ShopAddress" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="mb-3 row">
                                <label asp-for="ShopDescription" class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="ShopDescription" placeholder="Enter description">
                                    <span asp-validation-for="ShopDescription" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Action Buttons -->
                        <div class="text-right">
                            <a href="@Url.Action("Owner_Index", "Shop")" class="btn btn-secondary mr-1" style="width: 130px;">Cancel</a>
                            <button type="submit" class="btn btn-primary" style="width: 130px;">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../js/Updateshopvalidate.js"></script>
<script>
    document.getElementById('phoneInput').addEventListener('input', function () {
        this.value = this.value.replace(/[^0-9]/g, ''); // Replace any non-numeric characters with an empty string
    });

    function previewImage(event) {
        const imgInp = event.target;
        const file = imgInp.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('blah').src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    }

</script>
 